<%- include('head.ejs') %> 
<body>
<main >
  <h1>Resultados</h1>

  <% products.forEach(function(item) { %>
    <div>
      <a href="<%= item.title[1] %>"><%= item.title[0] %></a> <br>
     
        <% for(let index = 0; index < item.containerData.authors.length; index++){ %>
          <div>
            <a href="<%= item.containerData.authors[index][1] %>"><%= item.containerData.authors[index][0] %></a><br>
            
          </div>
          
        <% } %>
     
    </div>
  <% }); %>
    
  
</main>
<%- include('footer.ejs') %> 